{
  "root": true,
  "env": {
    "browser": true,
    "es2019": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "plugins": [],
  "rules": {
    "vue/multi-word-component-names": "off"
  },
  "overrides": []
}
